<h2>This is the gamenight page</h2>
<p>Gamenight id: {{gameNightId}} | date here</p>


<mat-grid-list cols="3">
  <mat-grid-tile>
    <app-shared-games-list (addedGame)="addGameToSelection($event)" [games]="gamesList"></app-shared-games-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-my-selected-games-list (orderChanged)="mySelectionOrderChanged($event)" (removeGame)="removeGameFromSelection($event)" [games]="myGamesList"></app-my-selected-games-list>
  </mat-grid-tile>
  <mat-grid-tile>
    all collection
  </mat-grid-tile>

</mat-grid-list>
