<mat-card>
  <mat-card-header>
    <!-- Slot for the handle -->
    <ng-content></ng-content>
    <mat-card-title>My selection of games</mat-card-title>
    <mat-card-subtitle>You can order your games by drag and drop. To games receive more weight.</mat-card-subtitle>
  </mat-card-header>

  <div cdkDropListGroup>

    <div
      class="games"
      cdkDropList
      #mySelection="cdkDropList"
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="gameDrop($event)"
    >
      <div
        class="inner-card"
        cdkDrag
        *ngFor="let game of games; let i = index"
        (dblclick)="removeGameFromList(game)"
      >
        <mat-card>
          <mat-card-title>{{ game.name }}</mat-card-title>
        </mat-card>
      </div>
    </div>

  </div>

</mat-card>
